.container{
    margin-bottom: 165px;
    }

.title{
    line-height: 1.08;
}

.anchor{
    font-size: 16px;
    vertical-align: top;
    padding-right: 475px;
}

.red-text {
    font-family: 'BebasNeueCyrillic', sans-serif;
    color: #A70000;
    font-size: 70px;
}

.signature{
    font-size: 20px;
    padding-left: 125px;
}

.div-info {
    position:relative;
    margin:auto;
    margin-top: 44.84px;
    line-height:1.4em;
    column-count:2;
    column-gap:114px;
    max-width: 1014px;
    max-height: 822px;
    height: 100%;
}

.div-paragraf {
    max-width: 450px;
    font-size: 18px;
    font-family: 'Involve', serif;
    margin-bottom: 10px;
}

.button-author{
    background-color: #261E1A;
    color: #ffffff;
    width: 285px;
    height: 55.8px;
    margin-top: 44.84px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.button-author:active { background-color: #A70000; }

.div-button{
    max-width: 1014px;
    margin: auto;
}

@media (max-width: 768px) {

    .title {
        display: flex;
        flex-direction: column;
        line-height: 1.03;
    }
    br {
        display: none;
    }
    .anchor {
        font-size: 14px;
        white-space: nowrap;
        margin-bottom: 18px;
        padding-right: 0px;
    }
    .red-text {
        font-size: 36px;
    }
    .signature {
        font-size: 14px;
        margin-top: 25px;
        padding-left: 0px;
    }

    .div-info {
        position:relative;
        margin:auto;
        margin-top: 44.84px;
        line-height:1.4em;
        column-count:1;
        column-gap:114px;
        max-width: 1014px;
        max-height: 822px;
        height: 100%;
    }

    .button-author {
        width: 100%;
    }
  }
