.container {
    margin-top: 165px;
    margin-bottom: 165px;
    }

.title{
    line-height: 1.08;
    margin-bottom: 45px;
}

.anchor{
    font-size: 16px;
    vertical-align: top;
    padding-right: 275px;
}

.red-text {
    font-family: 'BebasNeueCyrillic', sans-serif;
    color: #A70000;
    font-size: 70px;
}

.signature{
    font-size: 20px;
    padding-left: 125px;
}

.div-info {
    position:relative;
    margin:auto;
    margin-top: 45px;
    column-count:2;
    column-gap:114px;
    max-width: 1014px;
    height: 351px;
}

.div-paragraf {
    max-width: 450px;
    font-size: 18px;
    line-height:1.43em;
    letter-spacing: -3%;
    font-family: 'Involve', serif;
    margin-bottom: 23.3px;
}

.button-author{
    background-color: #261E1A;
    color: #ffffff;
    width: 285px;
    height: 55.8px;
    margin-top: 45px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    letter-spacing: -3%;
}

.button-author:active { background-color: #A70000; }

.div-button{
    max-width: 1014px;
    margin: auto;
}

@media (max-width: 768px) {
    .container{
        margin-top: 90px;
        margin-bottom: 0px;
        }

    .title {
        display: flex;
        flex-direction: column;
        line-height: 1.03;
        margin-bottom: 30px;
    }
    br {
        display: none;
    }
    .anchor {
        font-size: 14px;
        white-space: nowrap;
        margin-bottom: 18px;
        padding-right: 0px;
    }
    .red-text {
        font-size: 36px;
    }
    .signature {
        font-size: 14px;
        margin-top: 25px;
        padding-left: 0px;
    }

    .div-info {
        margin-top: 6.7px;
        column-count:1;
        height: 100%;
    }

    .div-paragraf {
        max-width: 400px;
        font-size: 16px;
        margin-bottom: 0px;
        margin-top: 23.3px;
    }

    .button-author {
        width: 100%;
        font-size: 16px;
        margin-top: 30px;
    }
  }
