.grey-text{
font-family: 'Involve', serif;
color: #878787;
}

.line{
    display: block;
    height: 1px;
    border: none;
    border-top: 1px solid #CECECE;
    margin: 1em 0;
    padding: 0;
}
.container{
    max-width: 1860px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .line {
        margin-top: 30px;
    }
}
