.wrapper {
  max-width: 1860px;
  width: 100%;
  margin: 0 auto;
}

.anchor {
  font-family: "Involve", serif;
  color: #878787;
  font-size: 16px;
}

.ourPartners {
  margin-top: 45px;
  border-top: 1px solid #cecece;
  padding-top: 21px;
  display: flex;
  justify-content: center;

  flex-wrap: nowrap;
  gap: 20px;
}

.container-our-part {
  position: relative;
  flex-shrink: 0;
  width: 19.139784946%;
}

.big-image {
  width: 100%;
  height: auto;
}

.small-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .ourPartners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 150px;
  }
  .container-our-part {
    width: 100%;
  }
}
