.container{
    height: 100%;
    margin-top: 165px;
}

.anchor{
    font-size: 16;
}

.line{
    margin-bottom: 23px;
    margin-top: 45px;
}

.div-our-part {
    display: flex;
    justify-content: center;
    gap: 1.075268817%;
    flex-wrap: nowrap;
  }

.container-our-part {
    position: relative;
    flex-shrink: 0;
    width: 19.139784946%;
  }

.big-image {
  width: 100%;
  height: auto;
}

.small-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    margin-top: 90px;
  }

  .div-our-part {
    flex-direction: column;
    gap: 15.77px;
    margin-top: 20.38px;
  }

  .container-our-part {
    width: 345px;
    height: 212px;
  }
  .line{
    opacity: 0;
    margin: 0%;
  }
}
