.container{
    max-height: 312;
    height: 100%;
}

.anchor{
    font-size: 16;
}

.line{
    margin-bottom: 23;
    margin-top: 45;
}

.container-our-part{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;}

.div-our-part{
    width: 355px;
    height: 219px;
    background-color: #E0E0E0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
