@font-face {
  font-family: 'Involve';
  src: url('./assets/fonts/Involve/Involve-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'BebasNeueCyrillic';
  src: url('./assets/fonts/BebasNeueCyrillic/bebasneuecyrillic.ttf') format('truetype');
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
