@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    background-color: #FFFAF0;
}
.App{
    padding-top: 625px ;
}
.image-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     text-align: center;
}
.history{
    color: #A70000;
    font-size: 96px;
    font-family: 'Bebas Neue';
    margin-left: 50px;
}
.img-container {
    display: flex;
    justify-content: center; 
    margin: 20px 30px; 
}

.imgmain {
    max-width: 1860px; 
    height: auto; 
}

#save{
    color: #878787;
    margin-left: 50px;
}
.name-item{
    color: #4c4c4c;
}